# MLflow artifacts
mlartifacts/
mlflow.db
mlruns/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Environment
.env
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Local files
model_info.txt

# Jupyter Notebook
.ipynb_checkpoints/